In [1]:
import pandas as pd
import numpy as np

In [2]:
data_set = pd.read_csv("dataset.csv")

In [3]:
data_set.head()

,Item_id,Base_Price,Base_Units,Price1,Units1,Price2,Units2,Price3,Units3,Price4,Units4
0,1,54,79,52,94,49,108,46,122,44,137
1,2,56,803,54,928,51,1053,48,1177,45,1302
2,3,48,563,46,653,44,743,41,833,39,923
3,4,49,65,47,71,45,76,42,82,40,87
4,5,22,497,21,589,20,680,19,771,18,862

In [12]:
price_map = ["Base_Price", "Price1", "Price2", "Price3", "Price4"]
qty_map = ["Base_Units", "Units1", "Units2", "Units3", "Units4"]

In [5]:
choices = np.random.randint(0, 5, 300)

In [9]:
data_set['Base_Price'][0]

54

In [18]:
Revenue_gain = 0
Quantity_gain = 0
Total_revenue = 0
Base_revenue = 0
Total_qty = 0
Base_qty = 0
Hit = 0

for i in range(0, 300):
    Base_revenue += data_set['Base_Price'][i]*data_set['Base_Units'][i]
    Base_qty += data_set['Base_Units'][i]
    
    selected_price = data_set[price_map[choices[i]]][i]
    selected_qty = data_set[qty_map[choices[i]]][i]
    new_revenue = selected_price*selected_qty
    
    Total_revenue += new_revenue
    Total_qty += selected_qty
    
    Hit += (data_set['Base_Price'][i] - selected_price)*selected_qty
    

Revenue_gain = ((Total_revenue-Base_revenue)/(Base_revenue))*100
Quantity_gain = ((Total_qty - Base_qty)/(Base_qty))*100
    
print("Total Revenue =",Total_revenue)
print("Total qty =",Total_qty)
print("Revenue_gain =",Revenue_gain)
print("Quantity_gain =",Quantity_gain)
print("Hit =",Hit)

Total Revenue = 6573780
Total qty = 183581
Revenue_gain = 13.753449575460827
Quantity_gain = 27.197078875893798
Hit = 781683