In [2]:
import pandas as pd

In [4]:
data_set = pd.read_csv("example.csv")

In [5]:
data_set.head()

   Item id  Base Price  Base Quantity  Price1  Quantity1  Price2  Quantity2
0        1          38             25      37         30      35         34
1        2          44             31      42         33      40         35
2        3          38             43      37         51      35         58
3        4          25             36      24         38      23         40
4        5          38             34      37         39      35         43